.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    transform: translateY(0);
    transition: transform .4s, box-shadow .7s;
    box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.151);
    display: flex;
    justify-content: center;

    &:focus,
    &:active {
      outline: none;
    }
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
      transform: translateY(-.2rem);
      box-shadow: .5rem 1rem 4rem rgba(0, 0, 0, 0.349);
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: white;
      margin-left: 2rem;

      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }

    &.inverted {
      background-color: black;
      color: white;
      border: none;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
  