@mixin mediaQuery($screen) {
  @if $screen == mobile {
      @media screen and (max-width: 400px) { @content };
  }
  @if $screen == landscape {
      @media screen and (max-width: 500px) { @content };
  }
  @if $screen == tablet {
      @media screen and (max-width: 800px) { @content };
  }
};

.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      cursor: pointer;

      @include mediaQuery(tablet) {
        text-align: center;
      }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
      width: 80vw;

      @include mediaQuery(tablet) {
        column-gap: 0;
      }

      @include mediaQuery(landscape) {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
      }
    }
    
  }
  