@mixin mediaQuery($screen) {
  @if $screen == mobile {
      @media screen and (max-width: 400px) { @content };
  }
  @if $screen == landscape {
      @media screen and (max-width: 500px) { @content };
  }
  @if $screen == tablet {
      @media screen and (max-width: 800px) { @content };
  }
};

.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;

  @include mediaQuery(landscape) {
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    transition: all .3s;
  }
  
  .custom-button {
    position: absolute;
    top: 70%;
    opacity: .85;
    display: none;

    @include mediaQuery(landscape) {
      display: block;
      opacity: .8;
      min-width: unset;
    }
  }

  &:hover {
    .image {
      opacity: .75;
    }

    .custom-button {
      opacity: .7;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 85%;
      margin-bottom: 15px;
    }

    .price {
      width: 15%;
      direction: rtl;
    }
  }
}
