@mixin mediaQuery {
  @media screen and (max-width: 800px) { @content };
};

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    @include mediaQuery() {
      height: 60px;
      padding: 10px;
      margin-bottom: 20px;
    }
  
    .logo-container {
      height: 100%;
      margin-top: 20px;
      padding-left: 25px;
      width: 70px;
      text-align: center;

      @include mediaQuery() {
        width: 40px;
        padding: 0;
        margin-top: 0;
        display: flex;
        align-items: center;
      }

      .logo {
          height: 43px;
          width: auto;
          transform: scale(1);
          transition: 0.2s cubic-bezier(0.20, 0.50, 0.50, 1);
          &:hover {
              transform: scale(1.1);
              transition: 1.2s cubic-bezier(0.20, 0.50, 0.50, 1);
          }

          @include mediaQuery() {
            height: 30px;
          }
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include mediaQuery() {
        width: 80%;
      }
  
      .option {
        padding: 10px 15px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            text-shadow: 1px 1px 10px rgb(202, 199, 199);
        }

        @include mediaQuery() {
          font-size: 15px;
          padding: 0 10px;
        }
      }
    }
  }
  